h1 {
	text-align: center;
}

.kylo {
	float: right;
	margin: 10px;
}

.luke {
	float: left;
	margin: 10px;
}

.first {
	width:48%; float:left; margin:4px; background-color:orange;
}

.second {
	width:48%; float:right; margin:4px; background-color:orange;
}

/*p {
	clear: both;
}*/