﻿@using Microsoft.Extensions.Options

@model Post
@inject IOptionsSnapshot<Settings> settings

<section id="comments">
    <div class="container">
        <h2>Komentarze</h2>
        @foreach (var comment in Model.Comments)
        {
            <article id="@comment.Id" class="@(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                <h3>
                    <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                        <a href="#@comment.Id" title="Permalink (#@comment.Id)">@comment.PubDate.ToString("MMMM d, yyyy")</a>
                    </time>
                </h3>

                <div class="content">
                    <p itemprop="text">@comment.RenderContent()</p>
                    <span itemprop="name">@comment.Author</span>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="delete noline" asp-controller="Blog" asp-Action="DeleteComment" asp-route-postid="@Model.Id" asp-route-commentid="@comment.Id" asp-route-afrt="@ViewData["afrt"]" title="Delete the comment...">Delete...</a>
                    }
                </div>
            </article>
        }

        @if (Model.AreCommentsOpen(settings.Value.CommentsCloseAfterDays))
        {
            if (Model.Comments.Count == 0)
            {
                <p>Brak komentarzy</p>
            }

            <form method="post" asp-controller="Blog" asp-action="AddComment" asp-route-postid="@Model.Id" asp-antiforgery="false">
                <h3>Dodaj komentarz</h3>
                <br />

                <label for="content">Komentarz</label>
                <textarea id="content" name="content" rows="5" cols="100" onfocus="" required></textarea>

                <div class="details">
                    <label for="author">Nazwa</label>
                    <input id="author" name="author" required />

                    <label for="email">E-mail</label>
                    <input id="email" name="email" required />
                    <br />

                    <input type="submit" value="Dodaj komentarz" />

                    <!-- This element is being removed by site.js. It is to prevent comment spam-->
                    <input type="hidden" name="website" />
                </div>
            </form>
        }
        else
        {
            <br />
        }
    </div>
</section>