﻿@model Post
@{
    bool isNew = string.IsNullOrEmpty(Model.Title);
    ViewData["Title"] = "Edit " + (Model.Title ?? "new post");
    var host = Context.Request.Host.ToString();
    List<string> allCats = ViewData["AllCats"] as List<string> ?? new List<string>();
    allCats.Sort();
}

@section Head{
    <link rel="stylesheet" href="~/css/admin.scss" />
}

    <form method="post" id="edit" class="container" asp-controller="Blog" asp-action="UpdatePost">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="@Model.Id" />

        <label asp-for="@Model.Title" class="label">Tytuł</label>
        <input asp-for="@Model.Title" required aria-describedby="desc_title" />
        <span class="desc" id="desc_title">Tytuł wpisu bloga</span>
        <br />

        <label for="categories" class="label">Tagi</label>
        <input type="text" name="selecttag" id="selecttag" aria-describedby="desc_categories" list="taglist" placeholder="@string.Join(", ", Model.Categories)"  />
        <input type="text" name="categories" id="categories" value="@string.Join(", ", Model.Categories)" hidden />
        <span class="desc" id="desc_categories">Wybierz z listy lub wpisz własne tagi, oddzielone przecinkami</span>
        <datalist id="taglist">
            @foreach (var cat in allCats)
            {
                <option value="@cat"/>
            }
            </datalist>
        <br />

        <label asp-for="@Model.Description" class="label">Opis</label>
        <textarea asp-for="@Model.Description" rows="3" aria-describedby="desc_excerpt">@Model.Description</textarea>
        <span class="desc" id="desc_excerpt">Opis tworzonego wpisu</span>
        <br />

        <textarea asp-for="@Model.Content" rows="20" aria-label="Content">@Model.Content</textarea>
        <br />

        <input type="submit" value="Zapisz" title="Save" />

        <input asp-for="@Model.IsPublished" />
        <label asp-for="@Model.IsPublished">Publikacja</label>

        @if (!isNew)
        {
            <input type="submit" value="Usuń..." class="delete" title="Usuń post..." asp-action="DeletePost" asp-route-id="@Model.Id" />
        }
    </form>

@section Scripts {
    <script src="//@host/lib/tinymce/tinymce.min.js"></script> @*with enabled CDN tinymce is not able to find some files*@
    <script src="~/js/admin.js" async></script>
}