a:hover {
	color: green;
}

.box {
	margin-top: 5%;
	margin-right: 10%;
	margin-bottom: 5%;
	margin-left: 10%;
	background-color: yellow;
}

.image_box {
text-align: center;
}

.article_box {
	border-style: double;
	background-color: orange;
	margin-left: 50px
}

.photo {
	margin-top: 15px;
	border: double 15px red;
}
h1 {
	text-decoration: underline;
	font-size: 40px;
	margin-left: 15px;
}

h3 {
	text-decoration: underline;
	font-size: 25px;
	margin-left: 15px;
}

.p_article {
	margin: 25px;
}

.footer {
	text-align: center;
	font-size: 14px
}