.luke_gallery {
	display: grid;
	grid-template-rows: auto 1fr;	
	justify-items: start;
	align-items: start;
	justify-content: start;
	align-content: start;
}

.header_image {
	border-radius: 30px;
	box-shadow: 5px 15px grey;
	transform: rotate(3deg);
}

.header_div {
	text-align: center;
}

footer {
	display: flex;
	justify-content: center;
}

#footerId {
	font-size: 30px;
}

.lukes1 {
	float: right;
	margin: 10px;
}

.lukes2 {
	float: left;
	margin: 5px;
}

figure {
	max-height: 550px;
	max-width: 550px;
}

h1 {
	font-size: 40px;
	font-style: italic;
}

p {
	font-family: 'Thasadith', sans-serif;
	flex-basis: content;
	max-width: 550px;
}

.pquote {
	float: right;
	color: #030;
	font-size: 18px;
	line-height: 0.9;
	font-style: italic;
	padding: 13px;
}

blockquote {
	margin: 0;
}

.pquote p:first-letter {
	font-size: 25px;
	font-weight: bold;
}

.content_div {
	display:grid;
	grid-template-columns: auto 1fr;
	justify-items: start;
	align-items: start;
	justify-content: start;
	align-content: start;
}

.div_text {
	display: grid;
	grid-template-columns: auto 1fr;	
	justify-content: start;
	align-items: start;
	justify-content: start;
	align-content: start;
}