﻿@using BlogEngineTINProject.ViewModels
@model BlogEngineTINProject.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    ViewData["Description"] = $"Sign in to the website";
}

@section head {
    <link rel="stylesheet" href="~/css/login.scss" />
}

<form method="post" id="login" aria-labelledby="legend" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <div asp-validation-summary="All"></div>
    <fieldset>
        <legend id="legend">Zaloguj</legend>

        <input asp-for="UserName" aria-label="Użytkownik" autofocus required placeholder="Użytkownik" />
        <input asp-for="Password" aria-label="Hasło" required placeholder="Hasło" />

        <input type="submit" value="Zaloguj" />
    </fieldset>
</form>