h2 {
    color: blue;
    font-size: 36px;
}

p {
    color: green;
    font-size: 18px;
}

a {
    text-decoration: none;
}

table,
th,
td {
    border: 4px solid orange;
}

ol {
    list-style-type: decimal;
}    

ul {
    list-style-type: square;
}