.luke_gallery {
	flex-wrap: nowrap;
	flex-shrink: 0;
	order: 1;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
}

.header_image {
	border-radius: 30px;
	box-shadow: 5px 15px grey;
	transform: rotate(3deg);
}

.header_div {
	text-align: center;
}

footer {
	display: flex;
	justify-content: center;
}

#footerId {
	font-size: 30px;
}

.lukes1 {
	float: right;
	margin: 10px;
}

.lukes2 {
	float: left;
	margin: 5px;
}

figure {
	max-height: 550px;
	max-width: 550px;
}

h1 {
	font-size: 40px;
	font-style: italic;
}

p {
	font-family: 'Thasadith', sans-serif;
	flex-basis: content;
	max-width: 550px;
}

.pquote {
	float: right;
	color: #030;
	font-size: 18px;
	line-height: 0.9;
	font-style: italic;
	padding: 13px;
}

blockquote {
	margin: 0;
}

.pquote p:first-letter {
	font-size: 25px;
	font-weight: bold;
}

.content_div {
	align-content: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: center;	
}

.div_text {
	order: 2;
	max-width: 70%;
	min-width: 5%;
	flex-shrink: 4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}